apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: bolttickets
data:
  postgresql.conf: |
    listen_addresses = '*'
    wal_level = logical
    max_replication_slots = 5
    max_wal_senders = 5
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: bolttickets
data:
  redis.conf: |
    appendonly yes
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: bolttickets
data:
  server.properties: |
    broker.id=1
    listeners=PLAINTEXT://:9092
    advertised.listeners=PLAINTEXT://kafka:9092
    zookeeper.connect=zookeeper:2181
    offsets.topic.replication.factor=1
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zookeeper-config
  namespace: bolttickets
data:
  zoo.cfg: |
    clientPort=2181
    dataDir=/data
    tickTime=2000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-config
  namespace: bolttickets
data:
  appsettings.json: |
    {
      "ConnectionStrings": {
        "DefaultConnection": "Host=postgres;Port=5432;Database=bolttickets;Username=postgres;Password=postgres",
        "Redis": "redis:6379",
        "Kafka": "kafka:9092"
      },
      "OTEL": {
        "ServiceName": "BoltTickets.API",
        "Endpoint": "http://jaeger:4318"
      }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-config
  namespace: bolttickets
data:
  appsettings.json: |
    {
      "ConnectionStrings": {
        "DefaultConnection": "Host=postgres;Port=5432;Database=bolttickets;Username=postgres;Password=postgres",
        "Redis": "redis:6379",
        "Kafka": "kafka:9092"
      },
      "OTEL": {
        "ServiceName": "BoltTickets.Worker",
        "Endpoint": "http://jaeger:4318"
      }
    }